
/*  This whole thing is a combination of different w3schools css tutorials*/
html { 
 /* background: url("https://i.ibb.co/7J68Lzc/1-3-RJg-Vcl-Ww-Z1r-EERJ-5-USA.png") no-repeat center fixed; */
  background-size: cover;
}
* {
  box-sizing: border-box;
}

body {
  background-image:url("https://i.ibb.co/SPYyQ4m/duck.gif");
   background-repeat:repeat;
}


.header {
  background-color: transparent;
  padding: 10px;
  text-align: center;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


div {

  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 30s;
}

@keyframes example {
  0%   {background-color:red; }
  25%  {background-color:yellow; }
  50%  {background-color:blue; }
  75%  {background-color:green;}
  100% {background-color:red; }
}